{% extends "notes/base.html" %}


{% load vid_url %}





{% block content %}
<!--Section: Cards-->
<section class="text-center">
    <style>
        .myfileshadow {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
    </style>
    <div class="card p-3 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-8 text-left col-sm-8 col-xs-7">
                    <h4>{{ filepost.title }} </h4>
                </div>
               
            </div>
            <div class="row">

                <div class="col-md-12 col-lg-12">
                    
                </div>
                <div class="row ml-auto">
                    <div class="col-md-12 col-xs-12">
                        <a download class="mb-2 mr-1" style="float:right " href="{{filepost.file0.url | vid_url}}" ><i
                                style="background: #00c853; border-radius:50% ; color:white; padding:8px; "
                                class="success fas fa-download" "></i></a>
                        <a class=" mb-2 mr-1" style="float:right "><i
                                    style="background:#2962ff; border-radius:50% ; color:white; padding:8px; "
                                    class="success fas fa-share" "></i></a>
                        {% if object.author == user %}
                            <a class=" mb-2 mr-1" style="float:right " href="{% url 'material_update' object.id %}"><i
                                        style="background:#6200ea; border-radius:50% ; color:white; padding:8px; "
                                        class="fas fa-pen"></i>
                        </a>

                        <a class=" mb-2 mr-1" style="float:right " href="{% url 'material_delete' object.id %}"><i
                                style="background:#ff1744; border-radius:50% ; color:white; padding:8px; "
                                class="fas fa-trash"></i>
                        </a>

                        {% endif %}

                    </div>
            </div>

        </div>
    </div>

    <br>
    <!--Grid row-->

    <div class="card p-3 pt-5">
        <div class="row mb-4 wow fadeIn">
            <!--Grid column-->
            {% if filepost.file0  %}
            <div class="container mt-5 pt-5">
                <div class="row">
                  <div class="col-md-8">
                    <div class="ratio ratio-16x9">
                        <video id='vidx' autoplay="autoplay" controls="controls" preload="preload">
                            <source src="{{filepost.file0.url}}#t=500" type="video/mp4"></source>
                        </video>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input id="file_url" value="{{filepost.file0.url | vid_url}}" class="form-control" />

                    <div class="input-group">
                      <div class="form-outline">
                        <input type="search" id="search_subs" value="hi" class="form-control" />
                        <label class="form-label" for="searchSubs">Search</label>
                      </div>
                      <button type="button" class="btn btn-primary" onclick='greet()'>
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                
              </div>
            <!--Card-->
           
            {% endif %}

        </div>
    </div>

</section>
<!--Section: Cards-->
<script>
    $("#search_subs").change(function () {
      var searchTerm = $(this).val();
      var fileName = $("#file_url").val();
      console.log(searchTerm,fileName);

    //   $.ajax({
    //     url: '/ajax/validate_username/',
    //     data: {
    //       'username': username
    //     },
    //     dataType: 'json',
    //     success: function (data) {
    //       if (data.is_taken) {
    //         alert("A user with this username already exists.");
    //       }
    //     }
    //   });

    });
  </script>
<script>
    
    function greet() {
      console.log('Hey there clicker!');
  }

</script>
{% endblock %}



