 {% extends "notes/base.html" %}
 {% load static %}
 {% load crispy_forms_tags %}
 <!--Main Navigation-->
 {% block content %}

 <style>
     .hide {
         display: none;
     }
 </style>
 <!--Section: Post-->
 <section class="mt">


     <div class="container">

         <!-- Grid column -->
         <div class="  col-lg-12 col-md-12">



             <!--Card content-->
             <div class="card-body ">
                 <form class="border border-light p-5" enctype="multipart/form-data" method="POST">
                     {% csrf_token %}
                     {{form|crispy}}
                     <div class="rounded" style="width:100%;height:20px;">
                         <div class="rounded text-center" id="bar"
                             style="color:white ;background-color : green;width:0px;height:20px;"> 100% Rendered</div>
                     </div>
                     <button class="btn btn-primary btn-rounded btn-block z-depth-0 my-4 waves-effect"
                         type="submit" id="btn_upload_and_generate">Vindex it!</button>
                 </form>
             </div>


         </div>
         <!-- Grid column -->

     </div>


 </section>
 <script>
     $("#btn_upload_and_generate").click(
        function () {
            var tag="&nbsp;<span class=\"spinner-grow spinner-grow-sm\" role=\"status\" aria-hidden=\"true\"></span>&nbsp;&nbsp;&nbsp;&nbsp;".repeat(5)
            console.log(tag)
         $(this).html(tag+"This may take a while, please wait&nbsp;&nbsp;&nbsp;&nbsp;"+tag)
        }
     )
 </script>


 {% endblock %}