{% extends "notes/base.html" %}


{% load vid_url %}





{% block content %}
<!--Section: Cards-->
<section class="text-center">
    <style>
        .myfileshadow {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
    </style>
    <div class="card p-3 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-8 text-left col-sm-8 col-xs-7">
                    <h4>{{ filepost.title }} </h4>
                </div>
               
            </div>
            <div class="row">

                <div class="col-md-12 col-lg-12">
                    
                </div>
                <div class="row ml-auto">
                    <div class="col-md-12 col-xs-12">
                        <a download class="mb-2 mr-1" style="float:right " href="{{filepost.file0.url | vid_url}}" ><i
                                style="background: #00c853; border-radius:50% ; color:white; padding:8px; "
                                class="success fas fa-download" "></i></a>
                        <a class=" mb-2 mr-1" style="float:right "><i
                                    style="background:#2962ff; border-radius:50% ; color:white; padding:8px; "
                                    class="success fas fa-share" "></i></a>
                        {% if object.author == user %}
                            <a class=" mb-2 mr-1" style="float:right " href="{% url 'material_update' object.id %}"><i
                                        style="background:#6200ea; border-radius:50% ; color:white; padding:8px; "
                                        class="fas fa-pen"></i>
                        </a>

                        <a class=" mb-2 mr-1" style="float:right " href="{% url 'material_delete' object.id %}"><i
                                style="background:#ff1744; border-radius:50% ; color:white; padding:8px; "
                                class="fas fa-trash"></i>
                        </a>

                        {% endif %}

                    </div>
            </div>

        </div>
    </div>

    <br>
    <!--Grid row-->

    <div class="card  pt-5">
        <div class="row mb-4 wow fadeIn">
            <!--Grid column-->
            {% if filepost.file0  %}
            <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="ratio ratio-16x9">
                        <video id='vidx' autoplay="autoplay" controls="controls" preload="preload">
                            <source src="{{filepost.file0.url}}" type="video/mp4"></source>
                        </video>
                    </div>
                  </div>
                  <div class="col-md-4">

                    <div class="row">

                            <textarea style="width: 0rem; height:0rem; border:none;" class="p-0 form-control disabled"
                                id="file_url">{{filepost.file0.url | vid_url}}</textarea>
        
                            <div class="form-inline d-flex  md-form form-md mt-0">
                                <input type="search" id="search_subs" class="form-control form-control-sm  w-80"/>
                                <button type="button" id="search_button" class="btn aqua-gradient btn-rounded btn-sm" >
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            
                    </div>
                    <div class="row">

                    <div class="container pl-0">
                        <div class="card mt-2 mb-2 text-left">
                        
                        
                        <div class="row">
                            
                            <div class="col-md-9">
                            <div class="card-body">
                        
                            <!-- Title -->
                            <h7 class="card-title">Card title</h7>
                            <!-- Text -->
                            <p class="card-text">Some      content.</p>
                        
                            </div>
                        </div>
                        <div class="col-md-3">
                        <!-- Button -->
                            <a id="play_btn_card" class="btn-floating btn-action mt-4 mdb-color lighten-3" style=" border-radius:50% ; color:white; padding:9px; "><i
                            class="fa fa-chevron-right pl-1"></i></a>  
                        </div>
                        </div>
                        
                        
                        </div>
                        </div>
                        <!-- Card -->

                        <input id="search_result" value="loading" />
                    </div>

                  </div>

                </div>
                
              </div>
            <!--Card-->
           
            {% endif %}

        </div>
    </div>

</section>
<!--Section: Cards-->
<script>
    $("#search_button").click(function () {
      var searchTerm = $("#search_subs").val();
      var fileName = $("#file_url").val();
      $.ajax({
        url: '/ajax/getTimestamp/',
        data: {
          'fileName': fileName,
          'searchTerm':searchTerm
        },
        dataType: 'json',
        success: function (data) {
          console.log(data.result)
          $("#search_result").attr("value",data.result)
        }
      });
      console.log(searchTerm,fileName);


    });
    $("#play_btn_card").click(function () {
            document.getElementById("vidx").currentTime = 50;
        }
    );
  </script>
    
{% endblock %}



